<%= content_for :success do %>
    <section class="py-15 relative mx-auto flex items-center" style="height: 100vh; margin-top: -112px;">
        <div class="w-full max-w-7xl px-4 md:px-5 lg-6 mx-auto">
            <h2 class="font-manrope font-bold text-4xl leading-10 text-black text-center">
                Order Placed Successfully
            </h2>
            <p class="mt-4 font-normal text-lg leading-8 text-gray-500 mb-11 text-center">Thanks for making a purchase. You can check your order summary from below</p>
            <div class="w-full flex justify-center">
                <%= link_to "Your Orders", orders_path, class:"text-center rounded-full py-3 px-7 font-semibold text-sm leading-7 text-white bg-indigo-600 max-lg:mt-5 shadow-sm shadow-transparent transition-all duration-500 hover:bg-indigo-700 hover:shadow-indigo-400" %>
            </div>
        </div>
    </section>                                           
<% end %>